@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    
}
.navbar{
    height: 10vh;
    background-color: red;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.navList{
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    font-weight: 600;
    
}
.background{
    width: 100%;
    height: 90vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgb(247, 239, 139) 0%, rgba(255,191,191,1) 38%);
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
}
.contentLeft{
    width: 50%;
    text-align: left;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px; 
    
}
.contentLeftHeading{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
    
}

.contentLeftButton{
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    width: 150px;
    font-size: 15px;
    
}
.contentRight{
    width: 50%; 
}
.contentRightImg{
    height: 90vh;

}
.collapsible-menu{
    display: block;
}

.menu-content {
    padding: 0 0 0 50px;
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color:  red;
}
.menuIcon{
    width: 40px;
    height: 40px;
}

input#menu {
    display: none;
}

.menu-content {
    max-height: 0;
    overflow: hidden; 
    padding: 0 0 0 50px;
    background-color: red;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

.page2{
 margin-top: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
 flex-wrap: wrap;
}

.page2Left{
    width: 50%;
    display: flex;
    justify-content: center;
}

.page2Right{
    width: 50%;
}

.page2RightContent{

    width: 400px;
    background-color: red;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.page2RightContent h{
    font-size: 50px;
    font-weight: bold;
}
.page2RightContent button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    text-align: left;
    width: 100px;
    display: flex;
    align-items: center;
}
.gridcontainer{
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 200px 150px;
    row-gap: 5px;
    column-gap: 10px;
} 
.gridcontainer img{
    width: 100%;
    height: 100%;
}
.imgTwo{
    grid-row: span 2;
}
  
  
  

@media  (max-width: 640px) {
    .navbar{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .contentLeft{
        width: 100%;
        text-align: center;
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        gap: 23px;
        align-items: center;
        margin-bottom: 20px;
        order: 2;
    }
    .contentRight {
        order: 1;
    }
    .contentLeftpara{
        padding: 10px;
    }
    .page2{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .page2Right{
        width: auto;
    }
    .page2RightContent{
        width: 400px;
        height: 200px;
    }
    .page2RightContent h{
        font-size: 30px;
        font-weight: bold;
    }
    
    }


@media (min-width: 641px) and (max-width:1007px){
    .collapsible-menu{
        display: none;
    }
    .page2{
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page2Right{
        width: auto;
    }
    
}

@media(min-width:1007px){
    .collapsible-menu{
        display: none;
    }
    .page2{
        flex-wrap: nowrap;
        margin-bottom: 30px;
    }
    .contentLeftHeading{
        font-size: 50px;
    }
    .contentLeftpara{
        font-size: 20px
    }
    .contentLeftButton{
        font-size: 20px;
    }
}
